*.pyc
results/*.wav
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
ENV/
env/
.ipynb_checkpoints
.vscode/
*.code-workspace
.DS_Store
.AppleDouble
.LSOverride
*.log
*.out
*.tmp
*.swp
*.swo
results/
data/noisy/
data/tmp/
